<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Comming Soon</title>
    <link rel="stylesheet" href="~/CommingSoon.styles.css" asp-append-version="true" />

    <title>RecceSoft Project - Comming Soon</title>

    <link href="css/bootstrap.css" rel="stylesheet" />
	<link href="css/coming-sssoon.css" rel="stylesheet" />  
    <link rel="icon" href="favicon.png"  type="image/png">

    <!--     Fonts     -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
</head>
<body>
   @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>